@page
@model RecruitCatSingipn.Pages.JobTitles.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create a new JobTitle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobTitle.Title" class="control-label"></label>
                <input asp-for="JobTitle.Title" class="form-control" />
                <span asp-validation-for="JobTitle.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle.SkillsRequired" class="control-label"></label>
                <textarea asp-for="JobTitle.SkillsRequired" class="form-control" ></textarea>
                <span asp-validation-for="JobTitle.SkillsRequired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle.minSalary" class="control-label"></label>
                <input asp-for="JobTitle.minSalary" class="form-control" />
                <span asp-validation-for="JobTitle.minSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle.maxSalary" class="control-label"></label>
                <input asp-for="JobTitle.maxSalary" class="form-control" />
                <span asp-validation-for="JobTitle.maxSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
